.count-container {
  display: flex;
  justify-content: space-around;

  &__total, &__overall {
    cursor: pointer;
    text-align: center;

    width: 150px;
    height: 150px;
    line-height: 47px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;

    .bold {
      font-weight: bold;
      display: block;
      font-size: 25px;
    }
  }
}

rect:hover + .hide {
  display: block;
}

rect:hover {
  fill: #8da2e3;
  cursor: pointer;
}

#info {
  writing-mode: tb-rl;
  transform: translateX(8px);
}

#info-percentage {
  fill: #000 !important;
}

.hide {
  display: none;
}
